//each channel in channels
li.tab(ng-repeat="channel in channels", ng-click="select(channel)", data-id="{{channel._id}}", ng-class="channel.class") {{channel.name}}
	span.button-delete.batch.left-margin.float-right(ng-click="leave(channel)") 
