div.container
	div.row-fluid
		div.mainwindow.span12
			div.header
				div.go-left(data-active="false") 
				div.bar-horizontal
					ul.nav
						include channel
				div.go-right(data-active="false") 
			div.context
				scroll-box.commentbox
					ul.vertical-box#scrollbox(scroll-to-bottom)
						block comment
							//include load_animation
							include comment
				div.textbox
					input.no-border-radius(type="text", placeholder="Make a comment", ng-model="inputMessage")
					a.btn.no-border-radius.color-green.batch(ng-click="send()", href) 
