div.splash(ng-class="connectClass")
	div.splash-prompt
		div.splash-prompt-wrapper
			h2 Connect to Agora
			span.input-title Nickname
			input.no-border-radius(type="text", placeholder="", ng-model="inputUsername")
			a.btn.btn-primary.btn-large(href, ng-click="login()") Connect to Agora
			//fieldset
				span.legend or
				legend
			//div.clear-both
			//a.btn.btn-primary.btn-large.btn-success.connect-google(href, ng-click="connectWithGoogle()") Connect with Google
	div.splash-background
