div.splash(ng-class="joinClass")
	div.splash-prompt
		div.splash-prompt-wrapper
			h2 Join a channel
			span.input-title Channel
			input.no-border-radius(type="text", placeholder="", ng-model="inputTargetChannel")
			span.input-title Password (optional)
			input.no-border-radius(type="password", placeholder="", ng-model="inputAttemptedPassword")
			a.btn.btn-primary.btn-large(href, ng-click="join()") 
				span.batch-sans-style.right-margin 
				| Add channel
	div.splash-background
