!!!5
// if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
// if IE 7
	html.no-js.lt-ie9.lt-ie8
// if IE 8
	html.no-js.lt-ie9
html.no-js(lang="en-US", ng-app="Agora")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{title}
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width")
		
		// Bootstrap
		link(href="css/bootstrap.min.css", rel="stylesheet", media="screen")
		link(href="css/bootstrap-responsive.css", rel="stylesheet")
		// Custom style
		// Thanks to Batch!
		link(href="css/main.css", rel="stylesheet", media="screen")
		
		link(rel="stylesheet", href="/css/main.css")
	body(ng-controller="ChatController", ng-init="springConnect()")
		// if lt IE 7
			p.chromeframe
				| You are using an 
				strong = "outdated"
				| browser. Please
				a(href="http://browsehappy.com/") = "upgrade your browser"
				| or 
				a(href="http://www.google.com/chromeframe/?redirect=true") = "activate Google Chrome Frame"
				| to improve your experience.
		include connect
		include join
		include navigation
		block commentbox
	script(src="js/vendor/modernizr-2.6.2.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="js/vendor/jquery-1.9.0.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/vendor/angular.min.js")
	script(src="js/app.js")
	script(src="js/controller.js")
