block navigation
	div.custom-navbar
		div.container
			div.row-fluid
				div.navbar-content.span12
					a.btn.btn-info(href) #{title}
					a.btn.btn-info.offset4.join-channel(ng-click='springJoin()', href) Join a channel
					a.btn.btn-danger(ng-click="logout()", href) Logout
