@font-face {
  font-family: 'Batch';
  src: url('../fonts/batch-icons-webfont.ttf'), url('../fonts/batch-icons-webfont.eot'), url('../fonts/batch-icons-webfont.svg');
}
/*Main*/
ul::-webkit-scrollbar {
  width: 10px;
  margin-right: 1px;
}
ul::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #fff;
}
ul::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #bfbfbf;
}
.custom-navbar {
  height: 50px;
  margin-bottom: 20px;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(top, #ffffff, #f2f2f2);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.custom-navbar .container {
  height: 100%;
}
.custom-navbar .container .navbar-content {
  height: inherit;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.custom-navbar .container .navbar-content a {
  margin-top: 10px !important;
  float: left;
}
.custom-navbar .container .navbar-content a:last-child {
  float: right;
}
.custom-navbar .container .navbar-content .join-channel:before {
  font-family: Batch;
  content: ' ';
}
.mainwindow {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.mainwindow .header {
  height: 50px;
  /*Roundening*/

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(top, #ffffff, #f2f2f2);
}
.mainwindow .header .bar-horizontal {
  width: 90%;
  height: 50px;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  float: left;
}
.mainwindow .header .bar-horizontal ul {
  min-width: 5000px;
  height: 50px;
}
.mainwindow .header .bar-horizontal ul li {
  width: -10%;
  border-right: 1px solid #d4d4d4;
  padding-top: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mainwindow .header .bar-horizontal ul li .centerize {
  padding-bottom: 10px;
}
.mainwindow .header .bar-horizontal ul li:hover {
  cursor: pointer;
  color: #595d5f;
}
.mainwindow .header .bar-horizontal ul li:active {
  color: #595d5f;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.mainwindow .header .tab {
  font-size: 1em;
  font-weight: bolder;
  color: #262a2c;
  min-width: 5%;
  height: 50px;
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
  display: block;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 1px 1px 0px #ffffff;
}
.mainwindow .header .tab .batch:hover {
  cursor: pointer;
  color: #ff2a2c;
}
.mainwindow .header .tab:after {
  font-family: Batch;
  color: #262a2c;
}
.mainwindow .header .go-left {
  font-family: Batch;
  font-size: 1.3em;
  color: #006400;
  width: 5%;
  height: 50px;
  padding-top: 14px;
  border-right: 1px solid #d4d4d4;
  text-align: center;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*Roundening*/

  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
.mainwindow .header .go-left[data-active="true"]:hover {
  cursor: pointer;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #efefef, #f2f2f2);
  background-image: -o-linear-gradient(top, #efefef, #f2f2f2);
  background-image: -moz-linear-gradient(top, #efefef, #f2f2f2);
  background-image: linear-gradient(top, #efefef, #f2f2f2);
  text-shadow: 1px 1px 0px #ffffff;
}
.mainwindow .header .go-left[data-active="true"]:active {
  cursor: pointer;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.mainwindow .header .go-left[data-active="false"] {
  color: #fefefe;
}
.mainwindow .header .go-right {
  font-family: Batch;
  font-size: 1.3em;
  color: #006400;
  width: 5%;
  height: 50px;
  padding-top: 14px;
  border-left: 1px solid #d4d4d4;
  text-align: center;
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*Roundening*/

  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  text-shadow: 1px 1px 0px #fefefe;
}
.mainwindow .header .go-right[data-active="true"]:hover {
  cursor: pointer;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #efefef, #f2f2f2);
  background-image: -o-linear-gradient(top, #efefef, #f2f2f2);
  background-image: -moz-linear-gradient(top, #efefef, #f2f2f2);
  background-image: linear-gradient(top, #efefef, #f2f2f2);
  text-shadow: 1px 1px 0px #ffffff;
}
.mainwindow .header .go-right[data-active="true"]:active {
  cursor: pointer;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.mainwindow .header .go-right[data-active="false"] {
  color: #fefefe;
}
.mainwindow .context {
  height: 500px;
  position: relative;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.mainwindow .context .commentbox {
  height: 450px;
  margin-top: 0;
  margin-bottom: 0;
}
.mainwindow .context .commentbox * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mainwindow .context .commentbox .vertical-box {
  display: block;
  width: inherit;
  height: 450px;
  list-style-type: none;
  margin-left: 0;
  overflow: scroll;
  overflow-x: hidden;
}
.mainwindow .context .commentbox .vertical-box li {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
}
.mainwindow .context .commentbox .vertical-box li .comment-tag {
  margin-right: 3px;
}
.mainwindow .context .commentbox .vertical-box li .comment-user {
  font-weight: bolder;
  margin-right: 5px;
}
.mainwindow .context .commentbox .vertical-box li:nth-of-type(odd) {
  background-color: #fafafa;
}
.mainwindow .context .textbox {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.mainwindow .context .textbox * {
  float: left;
}
.mainwindow .context .textbox input[type="text"] {
  width: 90%;
  height: inherit;
  font-size: 1.15em;
  border-top: #ccc;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mainwindow .context .textbox .btn {
  display: block;
  width: 10%;
  height: inherit;
  font-size: 1.15em;
  font-weight: bolder;
  padding-top: 14px;
  border-right: 0px;
  border-bottom: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mainwindow .context .textbox .btn:hover {
  color: #004200;
}
.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.splash * {
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.splash .splash-prompt {
  position: absolute;
  display: inline-block;
  min-width: 200px;
  width: 35%;
  min-height: 300px;
  background-color: #fff;
  text-align: center;
  margin-top: -150px;
  margin-left: -17.5%;
  padding: 10px;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.splash .splash-prompt .splash-prompt-wrapper {
  position: relative;
  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.splash .splash-prompt .splash-prompt-wrapper * {
  position: relative;
}
.splash .splash-prompt .splash-prompt-wrapper h2 {
  width: 100%;
  margin-bottom: 20px;
}
.splash .splash-prompt .splash-prompt-wrapper span.input-title {
  display: block;
  font-weight: bolder;
  text-align: left;
}
.splash .splash-prompt .splash-prompt-wrapper .btn {
  margin-bottom: 20px;
  width: 100%;
}
.splash .splash-prompt .splash-prompt-wrapper input[type="text"],
.splash .splash-prompt .splash-prompt-wrapper input[type="password"] {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  clear: both;
}
.splash .splash-prompt .splash-prompt-wrapper fieldset {
  position: relative;
}
.splash .splash-prompt .splash-prompt-wrapper fieldset .legend {
  z-index: 5;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 1.15em;
  font-weight: bolder;
  top: -10px;
  left: 50%;
  background-color: #fff;
  text-align: center;
  margin-left: -15px;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.splash .splash-prompt .splash-prompt-wrapper .connect-google:before {
  font-family: Batch;
  content: ' ';
}
.splash .splash-background {
  width: inherit;
  height: inherit;
  position: relative;
  z-index: 2;
  background-image: url("../img/stripe_blue_slanted_left.png");
  background-repeat: repeat repeat;
  opacity: 0.75;
}
.btn,
.go-left,
.go-right {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*Helper classes*/
.batch {
  font-family: Batch;
  text-shadow: 1px 1px 0px #ffffff;
}
.batch-sans-style {
  font-family: Batch;
}
.hidden {
  display: none;
}
.no-shadow {
  text-shadow: none;
}
.inherit-shadow {
  text-shadow: inherit !important;
}
.clear-both {
  width: 1px;
  height: 1px;
  clear: both;
}
.color-green {
  color: #006400;
}
.float-right {
  float: right;
}
.left-margin {
  margin-left: 5px;
}
.right-margin {
  margin-right: 5px;
}
.enlargen-text {
  font-size: 1.5em;
}
.active {
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.centerize {
  text-align: center;
}
.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-border-radius {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
