@font-size: 1.0em;
@input-font-size:1.15em;
@glyph-size: 1.3em;
@background-color:#ffffff;
@common-gray-background-color:#f2f2f2;
@common-border-color:#d4d4d4;

@icon-small-width:10px;
@icon-small-height:10px;

@bleach-white: #fefefe;
@dark-green: rgba(0, 100, 0, 1);

@general-header-gradient-from: @background-color;
@general-header-gradient-to: @common-gray-background-color;
@general-header-border-color: @common-border-color;
@general-header-bg-color: #fafafa;

@general-margin-bottom:20px;
@general-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);

@header-height: 50px;
@header-go-width: 5%;

@horizontal-bar-width:5000px;

@context-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
@context-box-height:500px;

@comment-span-margin-right:5px;

@50px: 50px;
@full-width-percents: 100%;
@nine-tenths:percentage(0.9);
@one-tenth:percentage(0.1);
@width-sans-go-tabs: @full-width-percents - @header-go-width * 2;

@font-face { 
	font-family:'Batch';
	src:url('../fonts/batch-icons-webfont.ttf'),
		url('../fonts/batch-icons-webfont.eot'),
		url('../fonts/batch-icons-webfont.svg');
}

.transition (@property: background-color, @time: 1000ms, @type: linear) {
	-webkit-transition:@property @time @type;
	-moz-transition:@property @time @type;
	-o-transition:@property @time @type;
	-ms-transition:@property @time @type;
	transition:@property @time @type;
}

.centerize () {
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.shadowize (@shadow-amount) {
	-webkit-box-shadow:@shadow-amount;
	-moz-box-shadow:@shadow-amount;
	box-shadow:@shadow-amount;
}

.button-shadowize (@default-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125)) {
	-webkit-box-shadow:@default-shadow;
	-moz-box-shadow:@default-shadow;
	box-shadow:@default-shadow;
}

.text-shadow (@color: @bleach-white) {
	text-shadow: 1px 1px 0px @color;
}

.highlight-mode (@mode:none) {
	-webkit-touch-callout:@mode;
	-webkit-user-select:@mode;
	-khtml-user-select:@mode;
	-moz-user-select:@mode;
	-ms-user-select:@mode;
	user-select:@mode;
}

.border-box () {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.background (@url, @alpha: 1, @repeat-param: repeat repeat) {
	background-image:url(@url);
	background-repeat:repeat repeat;
	opacity:@alpha;
}

.header-background () {
	background-color:@general-header-bg-color;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(@general-header-gradient-from), to(@general-header-gradient-to));
	background-image:-webkit-linear-gradient(top, @general-header-gradient-from, @general-header-gradient-to);
	background-image:-o-linear-gradient(top, @general-header-gradient-from, @general-header-gradient-to);
	background-image:-moz-linear-gradient(top, @general-header-gradient-from, @general-header-gradient-to);
	background-image:linear-gradient(top, @general-header-gradient-from, @general-header-gradient-to);
}

.header-background-highlighted (@general-header-gradient-from: #efefef) {
	background-color:@general-header-bg-color;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(@general-header-gradient-from), to(@general-header-gradient-to));
	background-image:-webkit-linear-gradient(top, @general-header-gradient-from, @general-header-gradient-to);
	background-image:-o-linear-gradient(top, @general-header-gradient-from, @general-header-gradient-to);
	background-image:-moz-linear-gradient(top, @general-header-gradient-from, @general-header-gradient-to);
	background-image:linear-gradient(top, @general-header-gradient-from, @general-header-gradient-to);
}

.splash (@width, @height: 300px) {
	position:absolute;
	width:@full-width-percents;
	height:@full-width-percents;
	text-align:center;

	* { position:absolute; .border-box(); }
	
	.splash-prompt {
		position:absolute;
		display:inline-block;
		min-width:200px;
		width:@width;
		min-height:@height;
		background-color:#fff;
		text-align:center;
		
		margin-top:(@height / 2) * -1;
		margin-left:(@width / 2) * -1;
		padding:10px;
		
		z-index:3;
		top:50%;
		left:50%;
		
		.splash-prompt-wrapper {
			position:relative;
			width:75%;
			height:100%;
			margin-left:auto;
			margin-right:auto;
			text-align:left;
			
			* { position:relative; }
			h2 { width:100%; margin-bottom:@general-margin-bottom; }
			span.input-title { display:block; font-weight:bolder; text-align:left; }
			.btn { margin-bottom:@general-margin-bottom; width:100%; }
			input[type="text"], input[type="password"] { display:block; width:100%; height:30px; margin-bottom:@general-margin-bottom; clear:both; }
			fieldset {
				position:relative;
				.legend {
					z-index:5;
					position:absolute;
					display:block;
					width:30px;
					height:30px;
					font-size:@input-font-size;
					font-weight:bolder;
					top:-10px;
					left:50%;
					background-color:#fff;
					text-align:center;
					
					margin-left:(30px / 2) * -1;
					padding-left:5px;
					padding-right:5px;
					
					.border-box();
				}
			}
			
			.connect-google:before { font-family:Batch; content:' '; }
		}
		
		.shadowize(@general-box-shadow);
	}
	
	.splash-background {
		width:inherit;
		height:inherit;
		position:relative;
		z-index:2;
		.background("../img/stripe_blue_slanted_left.png", 0.75);
	}
}


.custom-navbar (@nav-height: @50px, @button-top: 10px) {
	height:@nav-height;
	margin-bottom:@general-margin-bottom;

	.header-background();
	.shadowize(@general-box-shadow);
	
	.container {
		height:100%;
		
		.navbar-content {
			height:inherit;
			.centerize();
			
			a { 
				margin-top:@button-top !important; 
				float:left;
				
				&:last-child { float:right; }
			}
			.join-channel:before { font-family:Batch; content:' '; }
		}
	}
}

.bar-horizontal (@width: @width-sans-go-tabs, @height: @header-height, @padding-top: 14px, @text-color: #262a2c, @glyph-color: #262a2c) {
	width:@width;
	height:@height;
	overflow:hidden;
	margin-right:0;
	margin-left:0;
	padding:0;
	float:left;
	
	ul {
		min-width:@horizontal-bar-width;
		height:@height;
		
		li {
			width:(@width - 100) / 5 - 8;
			border-right:1px solid @common-border-color;
			padding-top:@padding-top + 1px;
			.highlight-mode();
			
			.centerize {
				padding-bottom:10px;
			}
			
			&:hover {
				cursor:pointer;
				color:@text-color + #333;
			}
			
			&:active {
				color:@text-color + #333;
				.button-shadowize();
			}
		}
	}
}

.mainwindow (@round-amount: 5px, @padding-top: 14px, @text-color: #262a2c, @glyph-color: #262a2c) {
	@all-white: rgba(255, 255, 255, 1);

	-webkit-border-top-left-radius:@round-amount;
	-webkit-border-top-right-radius:@round-amount;
	-moz-border-radius-topleft:@round-amount;
	-moz-border-radius-topright:@round-amount;
	border-top-left-radius:@round-amount;
	border-top-right-radius:@round-amount;
	
	.header {
		height:@header-height;
		
		/*Roundening*/
		-webkit-border-top-left-radius:@round-amount;
		-webkit-border-top-right-radius:@round-amount;
		-moz-border-radius-topleft:@round-amount;
		-moz-border-radius-topright:@round-amount;
		border-top-left-radius:@round-amount;
		border-top-right-radius:@round-amount;

		.header-background();

		.bar-horizontal {
			.bar-horizontal();
		}
		
		.tab {
			font-size:@font-size;
			font-weight:bolder;
			color:@text-color;
			min-width:@header-go-width;
			height:@header-height;
			padding-top:@padding-top;
			padding-left:@padding-top;
			padding-right:@padding-top;
			display:block;
			float:left;
			
			.border-box();
			
			.batch:hover {
				cursor:pointer;
				color:@glyph-color + #ee0000;
			}
			
			.text-shadow(@all-white);

			&:after {
				font-family:Batch;
				color:@glyph-color;	
			}
		}
		
		.go-left {
			font-family:Batch;
			font-size:@glyph-size;
			color:@dark-green;
			width:@header-go-width;
			height:@header-height;
			padding-top:@padding-top;
			border-right:1px solid @common-border-color;
			text-align:center;
			float:left;
			
			.border-box();
			
			/*Roundening*/
			-webkit-border-top-left-radius:@round-amount;
			-moz-border-radius-topleft:@round-amount;
			border-top-left-radius:@round-amount;
			
			&[data-active="true"]:hover {
				cursor:pointer;
				.header-background-highlighted();
				.text-shadow(@all-white);
			}
			
			&[data-active="true"]:active {
				cursor:pointer;
				.button-shadowize();
			}
			
			&[data-active="false"] {
				color:@bleach-white;
			}
		}
		
		.go-right {
			font-family:Batch;
			font-size:@glyph-size;
			color:@dark-green;
			width:@header-go-width;
			height:@header-height;
			padding-top:@padding-top;
			border-left:1px solid @common-border-color;
			text-align:center;
			float:right;
			
			.border-box();

			/*Roundening*/
			-webkit-border-top-right-radius:@round-amount;
			-moz-border-radius-topright:@round-amount;
			border-top-right-radius:@round-amount;
			
			.text-shadow();
			
			&[data-active="true"]:hover {
				cursor:pointer;
				.header-background-highlighted();
				.text-shadow(@all-white);
			}
			
			&[data-active="true"]:active {
				cursor:pointer;
				.button-shadowize();
			}
			
			&[data-active="false"] {
				color:@bleach-white;
			}
		}
	}
	
	.context {
		@textbox-height:@50px;
		height:@context-box-height;
		position:relative;
		.shadowize(@context-box-shadow);
	
		.commentbox {
			@commentbox-height: @context-box-height - @textbox-height;
			height:@commentbox-height;
			margin-top:0;
			margin-bottom:0;
			
			* { .border-box(); }
			
			.vertical-box {
				display:block;
				width:inherit;
				height:@commentbox-height;
				list-style-type:none;
				margin-left:0;
				overflow:scroll;
				overflow-x:hidden;
			
				li {
					padding-top:10px;
					padding-left:10px;
					padding-right:10px;
					padding-bottom:10px;
					
					margin-top:10px;
					margin-bottom:10px;
					
					border-top:1px solid lighten(@common-border-color, 15%);
					border-bottom:1px solid lighten(@common-border-color, 15%);
				
					.comment-tag {
						margin-right:3px;
					}
				
					.comment-user {
						font-weight:bolder;
						margin-right:@comment-span-margin-right;
					}
					
					.comment-content {
						
					}
					
					&:nth-of-type(odd) {
						background-color:lighten(@common-gray-background-color, 3%);
					}
				}
			}
		}
		
		.textbox {
			width:@full-width-percents;
			height:@textbox-height;
			position:absolute;
			left:0;
			bottom:0;
			
			* { float:left; }
			
			input[type="text"] {
				width:@nine-tenths;
				height:inherit;
				font-size:@input-font-size;
				border-top:#ccc;
				border-left:0px;
				border-right:0px;
				border-bottom:0px;
				.border-box();
			}
			
			.btn {
				display:block;
				width:@one-tenth;
				height:inherit;
				font-size:@input-font-size;
				font-weight:bolder;
				padding-top:@padding-top;
				border-right:0px;
				border-bottom:0px;
				.border-box();
				
				&:hover {
					color:@dark-green - #222;
				}
			}
		}
	}
}

/*Main*/

ul::-webkit-scrollbar {
	width:10px;
	margin-right:1px;
}
 
ul::-webkit-scrollbar-track {
	border-radius:5px;
	background-color:#fff;
}
 
ul::-webkit-scrollbar-thumb {
	border-radius:5px;
	background-color:darken(@common-gray-background-color, 20%);
}

.custom-navbar {
	.custom-navbar();
}


.mainwindow {
	.mainwindow();
}

.splash {
	.splash(35%);
}

.btn,
.go-left,
.go-right {
	.highlight-mode();
}

/*Helper classes*/
.batch {
	font-family:Batch;
	.text-shadow(rgba(255, 255, 255, 1));
}

.batch-sans-style {
	font-family:Batch;
}

.hidden {
	display:none;
}

.no-shadow {
	text-shadow:none;
}

.inherit-shadow {
	text-shadow:inherit !important;
}

.clear-both {
	width:1px;
	height:1px;
	clear:both;
}

.color-green {
	color:@dark-green;
}

.float-right {
	float:right;
}

.left-margin {
	margin-left:5px;
}

.right-margin {
	margin-right:5px;
}

.enlargen-text {
	font-size:1.5em;
}

.active {
	.button-shadowize();
}

.centerize {
	text-align:center;
}

.no-highlight {
	.highlight-mode();
}

.no-border-radius {
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	border-radius:0px !important;
}
